/* universal styles */
* {
    background-color: rgb(205, 198, 195);
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333
}

/* made body div into a container */
body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

/* made quiz title 50px and added bottom margin */
h1 {
    font-size: 50px;
    margin-bottom: 30px
}

.answers {
    width: 100%
}

/* button styles */
.button {
    font-size: 20px;
    color: #333;
    background-color: white;
    border: 2px solid lightslategray;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 10px;
    width: 70%;
}

/* button hover style */
.button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #333;
}

/* */
.button[disabled]:hover {
    cursor: not-allowed;
}

/* form styling */
form {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* form input styling */
input {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}